<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="og:site_name" content="Lot-Casting Atemi">

  <% if @title.present? %>
    <title><%= @title %> | Lot-Casting Atemi</title>
    <meta name="og:title" content="<%= @title %>">
    <% if @description.present? %><meta name="og:description" content="<%= @description %>"><% end %>
  <% else %>
    <title>Lot-Casting Atemi</title>
    <meta name="description" content="Online Character and Chronicle manager for Exalted Third Edition. Supports Solars, Dragon-Bloods, mortals, and homebrew exalt types.">
  <% end %>

    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'lca' %>

    <noscript style="font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'; color: rgba(0,0,0,0.87)">
      <p>
        Lot-Casting Atemi is built using React.js and so requires JavaScript to function.
      </p>
    </noscript>
  </body>
</html>
