<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="og:site_name" content="Lot-Casting Atemi">

  <% if @title.present? %>
    <title><%= @title %> | Lot-Casting Atemi</title>
    <meta name="og:title" content="<%= @title %>">
  <% else %>
    <title>Lot-Casting Atemi</title>
  <% end %>
  <% if @description.present? %>
    <meta name="og:description" content="<%= @description %>">
  <% else %>
    <meta name="description" content="Online Character and Chronicle manager for Exalted Third Edition. Supports all published Exalt types, mortals, and homebrew exalt types.">
  <% end %>
    <% if @image.present? %><meta name="og:image" content="<%= @image %>"><% end %>

    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= yield %>

    <noscript style="font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'; color: rgba(0,0,0,0.87)">
      <p>
        Lot-Casting Atemi is built using React.js and so requires JavaScript to function.
      </p>
    </noscript>

    <%= javascript_packs_with_chunks_tag 'lca' %>
    <%= stylesheet_packs_with_chunks_tag 'lca' %>
  </body>
</html>
